<!--
* {
	margin:0;
}
body{
    min-width: 960px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;*/
    font-family: "Microsoft YaHei UI", Helvetica, sans-serif;
	font-size:14px;
	background: #f4f4f4;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
    font-family: "Microsoft YaHei UI", Helvetica, sans-serif;
}
div{
    z-index: 1;
}

a{
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}


-->